.app-content {
    padding:10px 30px;
}

.lightSlider-carousel {
    width: 90%;
    margin: auto;
}
ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
#top-picks li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;

}
#top-picks img {
    display: block;
    height: auto;
    min-width: 100%;
}

#results p{
    position: relative;
    display: inline;
}

.page-header{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}
.section-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 30px;
}
.sub-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 22px;
}
.body-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 100;
}
.book-details-header {
    position: relative;
    display: inline;
}
.results-list{
    list-style-type: none;
    margin-left:0px;
    padding-left:0px;
    padding-bottom:20px;
    display: inline-block;  
}

.results-list img
{
    float:left;
    padding-right:20px;
}

.results-list p, .results-list h3 {
    text-align: right; 
    display:inline-block;
    padding: 0;
}

.book-details-header img{
    position: relative;
    float: left;
    padding: 0px 30px 0px 0px;
}
.btn{
    margin: 0px 5px;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;   
}
.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
    transition: transform 0.1s linear;
}
.grid img:hover {
    transform:scale(1.15);
}

form {
    width:100%;
    position:relative;
    display: block;   
    margin: 20px auto 40px auto;
}
.search-box {
    width:80%;
    height: 40px;
    position:relative;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}